<div class="box exp-setup transparent-box">
  <div class="lab-background" id="exp-equ">
    <div class="lab-thermometer" style="position: absolute; top: 15%;
              left: 73%">
      <div class="thermo-glass">
        <div class="thermo-scale" >
            <div class="thermo-liquid" id="thermo-liquid"></div>
          <!-- Метки температуры -->
          <div class="tick" style="bottom: 0%">2°C</div>
          <div class="tick" style="bottom: 5%">4°C</div>
          <div class="tick" style="bottom: 10%">6°C</div>
          <div class="tick" style="bottom: 15%">8°C</div>
          <div class="tick" style="bottom: 20%">10°C</div>
          <div class="tick" style="bottom: 25%">12°C</div>
          <div class="tick" style="bottom: 30%">14°C</div>
          <div class="tick" style="bottom: 35%">16°C</div>
          <div class="tick" style="bottom: 40%">18°C</div>
          <div class="tick" style="bottom: 45%">20°C</div>
          <div class="tick" style="bottom: 50%">22°C</div>
          <div class="tick" style="bottom: 55%">24°C</div>
          <div class="tick" style="bottom: 60%">26°C</div>
          <div class="tick" style="bottom: 65%">28°C</div>
          <div class="tick" style="bottom: 70%">30°C</div>
          <div class="tick" style="bottom: 75%">32°C</div>
          <div class="tick" style="bottom: 80%">34°C</div>
          <div class="tick" style="bottom: 85%">36°C</div>
          <div class="tick" style="bottom: 90%">38°C</div>
          <div class="tick" style="bottom: 95%">40°C</div>
        </div>
      </div>
        <div class="thermo-bulb" style="width: 40px; height: 60px"></div>
    </div>
    <div class="table" id="exp-equ">
         <div class="glass-pipe">
        <div class="pipe-body"></div>
    </div>
    </div>

<div class="tv-container" style="left: 110px">
         <h3 >Секундомер</h3>
        <div class="tv-screen">
            <div id="timerDisplay">00:00:000</div>
        </div>
    </div>
  <div class="pipe heater"></div>
  <div class="pipe cooler"></div>


      <div class="viscosimeter-container">
          <!-- Крышечки -->
        <div class="tube-cap cap-left"></div>
        <div class="tube-cap cap-right"></div>

          <!-- Glass tubes -->
          <div class="tube-left">
              <div class="water water-left"></div>
          </div>
          <div class="tube-right">
              <div class="water water-right"></div>
          </div>
          <div class="tube-bottom">
              <div class="water-bottom"></div>
          </div>


          <!-- Left tube reservoir -->
          <div class="reservoir"></div>

          <!-- Glass bubbles in right tube -->
          <div class="glass-bubble bubble-1"></div>
          <div class="glass-bubble bubble-2"></div>

          <!-- Mark lines -->
          <div class="mark-line line-1"></div>
          <div class="mark-line line-2"></div>
    </div>


<div class="pump-container">
  <div class="tube"></div>
  <div class="bulb"></div>
</div>


  </div>

</div>